
body {
  background-image:url(./assets/ToDoPic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #be3f96;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.todo-container {
  display: block;
  width: 400px;
  margin: 10px auto 100px;
  background-color:#f7eaea;
  padding:5px 15px 15px 15px;
  border-radius:15px
}

h2 {
  text-align:center;
  padding-top:10px;
  margin-bottom:10px;
}

ul {
  margin: 3px;
  padding: 4px;
}

li * {
  float: left;
}

li,
h3 {
  clear: both;
  list-style: none;
}

input
 {
  outline: none;
  border-radius: 10px;
  border:1px solid #be3f96;
  
}

button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 15px;
  width: 60px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  border-radius: 10px;
}

.delete{
  background-color: #c690e3;
  margin: 2px;
}

.edit{
  background-color: rgb(135, 240, 240);
  margin: 2px;
}

.add-btn{
  background-color: #8495ea;
  padding: 5px;
  margin: 1px;
}

button:hover {
  color: #f7eaea;
}


/* Heading */

h3,
label[for='new-task'] {
  color: #be3f96;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 3px solid #be3f96;
  padding: 20px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: none;
  background: #f5f4f4;
  border-radius: 10px;
  font-family: Lato, sans-serif;
  color: #e1a0a0;
}

input[type="text"]:focus {
  color: #db6464;
}


/* New Task */

label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

input.new-task {
  float: left;
  width: 300px;
  padding: 5px;
}



/* Task list */

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 5px;
}

li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}

li > input[type="text"] {
  width: 226px;
}




/* Completed */

#completed-tasks label {
  text-decoration: line-through;

}


/* Edit Task */

ul li input[type="text"] {
  display: none; 
}
ul li.editMode input[type="text"] {
  display: block; 
}

